{% extends "common/templates/email.html" %}
{% load op_mail_style %}

{% block title %}
  Votre période d'essai est terminée
{% endblock title %}

{% block summary %}
  Votre période d'essai est terminée
{% endblock summary %}

{% block action1 %}
  {% op_button /expired %}
    S'abonner
  {% op_button_end %}
{% endblock action1 %}

{% block noaction2 %}
{% endblock noaction2 %}

{% block content %}
  {% op_container %}
    <h1>Votre période d'essai est terminée</h1>
    <p>
      Vous arrivez au terme de votre période d'essai.<br/>
    </p>
    <h3>A partir de <span style="color:#ff6600">{{ best_tariff }}€ / mois</span> !</h3>
    <p>
      Vous avez apprécié l'expérience ?<br/>
      Pour continuer de bénéficier de l'abonnement <b>{{ subscription }}</b>
      {% if diet %} et de <b>{{ diet }}</b> {% endif %}, souscrivez dès maintenant à un abonnement !
    </p>
    <h3>Continuez en mode <span style="color:#ff6600">gratuit</span></h3>
    <p>
      Vous souhaitez utiliser le planificateur et la liste de courses gratuitement ?<br/><br/>
      C'est possible ! Avec une simple "alimentation équilibrée", Cook&amp;Be ne requiert pas de paiement.
    </p>
    <h2>Votre avis nous est précieux</h2>
    <p>
      Vous n'avez pas été satisfait de notre service ? N'hésitez pas à nous le dire !<br/>
      Cook&amp;Be s'améliore, jour après jour, grâce à vos retours.<br/>
      Envoyez-nous un message à support@cookandbe.com !
    </p>
  {% op_container_end %}
{% endblock content %}

{% block no_last_word %}
{% endblock no_last_word %}


