{% extends "common/templates/email.html" %}
{% load op_mail_style %}

{% block title %}
  {{ discussion_title }}
{% endblock title %}

{% block personal_infos %}
  {% op_container %}
    <p>Vous avez posé <b>{{ nb_month_questions }}</b> question(s) en {{ end_of_month | date:"F" }}.</p>
    <p>Vous pouvez encore poser <b>{{ remaining_questions }}</b> question(s) d'ici le <b>{{ end_of_month }}</b>.</p>
  {% op_container_end %}
{% endblock personal_infos %}

{% block summary %}
{% endblock summary %}

{% block action1 %}
  {% op_button /discussion/{{discussion_id}} %}
    Voir la réponse
  {% op_button_end %}
{% endblock action1 %}

{% block noaction2 %}
{% endblock noaction2 %}

{% block no_last_word %}
{% endblock no_last_word %}

{% block content %}
  {% op_container %}
    <p>Notre nutritionniste {{ dietician_name }} a répondu à votre question !</p>
    <br>
    <p>Rendez-vous dans la rubrique "Discussions" pour consulter sa réponse.</p>
  {% op_container_end %}
{% endblock content %}

