{% extends "common/templates/email.html" %}
{% load op_mail_style %}

{% block title %}
  Réinitialisation de<br>votre mot de passe
{% endblock title %}

{% block personal_infos %}
{% endblock personal_infos %}

{% block nosocial %}
{% endblock nosocial %}

{% block no_last_word %}
{% endblock no_last_word %}

{% block action1 %}
  {% op_button /contact/ %}
    Nous contacter
  {% op_button_end %}
{% endblock action1 %}

{% block noaction2 %}
{% endblock noaction2 %}

{% block css %}
.manual_reset_link {
    text-align: center;
    font-size: 11px;
    margin: 10px 0px;
}
{% endblock css %}

{% block content %}
  {% op_container %}
    <p>Bonjour,</p>
    <p>Une demande de récupération de mot de passe a été effectuée depuis le site web <b>{% brand_name %}</b>. Si vous n'êtes pas à l'origine de cette démarche, ignorez simplement cet email.</p>
    <p>Pour changer votre mot de passe, cliquez sur le bouton ci-dessous <b>dans l'heure suivant la demande</b>. Passé ce délai, vous devrez effectuer une nouvelle demande.</p>
    {% op_button /signin?email={{email}}&code={{code}} %}
      Changer mon mot de passe
    {% op_button_end %}
    <div class="manual_reset_link">
      Si le bouton ne fonctionne pas, copiez ce lien dans votre navigateur:<br>
      <a href="{% app_url /signin %}?email={{email}}&code={{code}}">{% app_url /signin %}?email={{email}}&code={{code}}</a>
    </div>
    <p>À bientôt !</p>
    <p style="text-align: right; padding-bottom: 15px;">L'équipe {% brand_name %}</p>
  {% op_container_end %}
{% endblock content %}
