{% extends "common/templates/email.html" %}
{% load op_mail_style %}

{% block title %}
  Votre recette n'a pas pu être publiée
{% endblock title %}

{% block content %}
  {% op_container %}
    <h1>Désolé, votre demande de publication a été refusée.</h1>
    <p>
      La publication de votre recette <b>{{ recipe.name }}</b> n'a pas pu être effectuée, pour la raison suivante :
    </p>
    <p><i style="white-space: pre">
      {{ reason }}
    </i></p>
  {% op_container_end %}
{% endblock content %}

{% block last_word %}
  Nous vous remercions pour votre compréhension.
{% endblock %}

{% block social %}
{% endblock social %}

{% block action1 %}
  {% op_button /recettes/recette-{{recipe.url_key}} %}
    Voir la recette
  {% op_button_end %}
{% endblock action1 %}

{% block noaction2 %}
{% endblock noaction2 %}
